<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop | Products</title>
    
    <!-- css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/layout/header-main/style.css">
    <link rel="stylesheet" href="/stylesheets/layout/footer/style.css">
    <link rel="stylesheet" href="/stylesheets/products/style.css">
    
    <!-- icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
</head>
<body>
    <!--------- container ----------->
    <div class="container-fuild">
        
        <!--------- header ----------->
        <%- include('../layout/header-main.ejs'); %>
        
        <!--------- content----------->
        
        <div class='content'>
            
            <!-- Thêm code ở đây -->
            <br/>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                    <!--- filter-sidebar -->
                        
                        <div class="filter-sidebar">
                            
                            <span>Sắp xếp theo</span>
                            <a href="#">Liên Quan</a>
                            <a href="#">Mới nhất</a>
                            <a href="#">Bán chạy</a>
                            
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Giá
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                    <button class="dropdown-item" type="button">Action</button>
                                    <button class="dropdown-item" type="button">Another action</button>
                                    <button class="dropdown-item" type="button">Something else here</button>
                                </div>
                            </div>
                        </div>
                    </div>    
                    <!--- filter-sidebar -->
                    <div class="col-md-3"></div>
                                        
                </div>
                
                <!---------------------------------------------------------------------------------------------->
                
                
                <div class="row">
                    <div class="col-md-3">
                        <div class="category"><span >Danh mục</span></div>
                    </div>
                    <div class="col-md-9"></div>
                </div>
                
                <!---------------------------------------------------------------------------------------------->

                <div class="row">
                    <div class="col-md-3">
                        <!-- menu doc -->
                        <div id="menu">
                            <ul>
                                <% if (render.id == 1) { %>
                                    <li style="background: #fa5838;">
                                        <a href="/products?id=1&&count=6">
                                            <span style="margin-left:3px; margin-right: 10px;">
                                                <i class="fa fa-mobile" aria-hidden="true"></i>
                                            </span>
                                            <span>Điện Thoại - Máy Tính Bảng</span>
                                        </a>
                                    </li>
                                <%} else { %>
                                    <li>
                                        <a href="/products?id=1&&count=6">
                                            <span style="margin-left:3px; margin-right: 10px;">
                                                <i class="fa fa-mobile" aria-hidden="true"></i>
                                            </span>
                                            <span>Điện Thoại - Máy Tính Bảng</span>
                                        </a>
                                    </li>
                                <% } %>
                                <!----->
                                
                                <% if (render.id == 2) { %>
                                    <li style="background: #fa5838;">
                                        <a href="/products?id=2&&count=6">
                                            <span style="margin-left:0px; margin-right: 2px;">
                                                <i class="fa fa-television" aria-hidden="true"></i>
                                            </span>
                                            <span>Điện Tử - Điện Lạnh</span>
                                        </a>
                                    </li>
                                <%} else { %>
                                    <li>
                                        <a href="/products?id=2&&count=6">
                                            <span style="margin-left:0px; margin-right: 2px;">
                                                <i class="fa fa-television" aria-hidden="true"></i>
                                            </span>
                                            <span>Điện Tử - Điện Lạnh</span>
                                        </a>
                                    </li>
                                <% } %>
                                <!----->
                                <% if (render.id == 3) { %>
                                    <li style="background: #fa5838;">
                                        <a href="/products?id=3&&count=6">
                                            <span style="margin-left:0px; margin-right: 2px;">
                                                <i class="fa fa-television" aria-hidden="true"></i>
                                            </span>
                                            <span>Phụ Kiện - Thiết Bị Số</span>
                                        </a>
                                    </li>
                                <%} else { %>
                                    <li>
                                        <a href="/products?id=3&&count=6">
                                            <span style="margin-left:0px; margin-right: 2px;">
                                                <i class="fa fa-television" aria-hidden="true"></i>
                                            </span>
                                            <span>Phụ Kiện - Thiết Bị Số</span>
                                        </a>
                                    </li>
                                <% } %>
                                <!----->
                                <% if (render.id == 4) { %>
                                    <li style="background: #fa5838;">
                                        <a href="/products?id=4&&count=6">
                                            <span style="margin-left:0px; margin-right: 2px;">
                                                <i class="fa fa-television" aria-hidden="true"></i>
                                            </span>
                                            <span>Laptop - Thiết Bị IT</span>
                                        </a>
                                    </li>
                                <%} else { %>
                                    <li>
                                        <a href="/products?id=4&&count=6">
                                            <span style="margin-left:0px; margin-right: 2px;">
                                                <i class="fa fa-television" aria-hidden="true"></i>
                                            </span>
                                            <span>Laptop - Thiết Bị IT</span>
                                        </a>
                                    </li>
                                <% } %>
                                <!----->
                                <% if (render.id == 5) { %>
                                    <li style="background: #fa5838;">
                                        <a href="/products?id=5&&count=6">
                                            <span style="margin-left:0px; margin-right: 2px;">
                                                <i class="fa fa-television" aria-hidden="true"></i>
                                            </span>
                                            <span>Máy Ảnh - Quay Phim</span>
                                        </a>
                                    </li>
                                <%} else { %>
                                    <li>
                                        <a href="/products?id=5&&count=6">
                                            <span style="margin-left:0px; margin-right: 2px;">
                                                <i class="fa fa-television" aria-hidden="true"></i>
                                            </span>
                                            <span>Máy Ảnh - Quay Phim</span>
                                        </a>
                                    </li>
                                <% } %>
                                <!----->
                                <% if (render.id == 6) { %>
                                    <li style="background: #fa5838;">
                                        <a href="/products?id=6&&count=6">
                                            <span style="margin-left:0px; margin-right: 2px;">
                                                <i class="fa fa-television" aria-hidden="true"></i>
                                            </span>
                                            <span>Điện Gia Dụng</span>
                                        </a>
                                    </li>
                                <%} else { %>
                                    <li>
                                        <a href="/products?id=6&&count=6">
                                            <span style="margin-left:0px; margin-right: 2px;">
                                                <i class="fa fa-television" aria-hidden="true"></i>
                                            </span>
                                            <span>Điện Gia Dụng</span>
                                        </a>
                                    </li>
                                <% } %>
                                <!----->
                                <% if (render.id == 7) { %>
                                    <li style="background: #fa5838;">
                                        <a href="/products?id=7&&count=6">
                                            <span style="margin-left:0px; margin-right: 2px;">
                                                <i class="fa fa-television" aria-hidden="true"></i>
                                            </span>
                                            <span>Nhà Cửa Đời Sống</span>
                                        </a>
                                    </li>
                                <%} else { %>
                                    <li>
                                        <a href="/products?id=7&&count=6">
                                            <span style="margin-left:0px; margin-right: 2px;">
                                                <i class="fa fa-television" aria-hidden="true"></i>
                                            </span>
                                            <span>Nhà Cửa Đời Sống</span>
                                        </a>
                                    </li>
                                <% } %>
                                <!----->
                                <% if (render.id == 8) { %>
                                    <li style="background: #fa5838;">
                                        <a href="/products?id=8&&count=6">
                                            <span style="margin-left:0px; margin-right: 2px;">
                                                <i class="fa fa-television" aria-hidden="true"></i>
                                            </span>
                                            <span>Hàng Tiêu Dùng - Thực Phẩm</span>
                                        </a>
                                    </li>
                                <%} else { %>
                                    <li>
                                        <a href="/products?id=8&&count=6">
                                            <span style="margin-left:0px; margin-right: 2px;">
                                                <i class="fa fa-television" aria-hidden="true"></i>
                                            </span>
                                            <span>Hàng Tiêu Dùng - Thực Phẩm</span>
                                        </a>
                                    </li>
                                <% } %>
                                <!----->
                                <% if (render.id == 9) { %>
                                    <li style="background: #fa5838;">
                                        <a href="/products?id=9&&count=6">
                                            <span style="margin-left:0px; margin-right: 2px;">
                                                <i class="fa fa-television" aria-hidden="true"></i>
                                            </span>
                                            <span>Đồ Chơi, Mẹ & Bé</span>
                                        </a>
                                    </li>
                                <%} else { %>
                                    <li>
                                        <a href="/products?id=9&&count=6">
                                            <span style="margin-left:0px; margin-right: 2px;">
                                                <i class="fa fa-television" aria-hidden="true"></i>
                                            </span>
                                            <span>Đồ Chơi, Mẹ & Bé</span>
                                        </a>
                                    </li>
                                <% } %>
                                <!----->
                                <% if (render.id == 10) { %>
                                    <li style="background: #fa5838;">
                                        <a href="/products?id=10&&count=6">
                                            <span style="margin-left:0px; margin-right: 2px;">
                                                <i class="fa fa-television" aria-hidden="true"></i>
                                            </span>
                                            <span>Làm Đẹp - Sức Khỏe</span>
                                        </a>
                                    </li>
                                <%} else { %>
                                    <li>
                                        <a href="/products?id=10&&count=6">
                                            <span style="margin-left:0px; margin-right: 2px;">
                                                <i class="fa fa-television" aria-hidden="true"></i>
                                            </span>
                                            <span>Làm Đẹp - Sức Khỏe</span>
                                        </a>
                                    </li>
                                <% } %>
                                <!----->
                                <% if (render.id == 11) { %>
                                    <li style="background: #fa5838;">
                                        <a href="/products?id=11&&count=6">
                                            <span style="margin-left:0px; margin-right: 2px;">
                                                <i class="fa fa-television" aria-hidden="true"></i>
                                            </span>
                                            <span>Thời TRang - Phụ Kiện</span>
                                        </a>
                                    </li>
                                <%} else { %>
                                    <li>
                                        <a href="/products?id=11&&count=6">
                                            <span style="margin-left:0px; margin-right: 2px;">
                                                <i class="fa fa-television" aria-hidden="true"></i>
                                            </span>
                                            <span>Thời TRang - Phụ Kiện</span>
                                        </a>
                                    </li>
                                <% } %>
                                <!----->
                                <% if (render.id == 12) { %>
                                    <li style="background: #fa5838;">
                                        <a href="/products?id=12&&count=6">
                                            <span style="margin-left:0px; margin-right: 2px;">
                                                <i class="fa fa-television" aria-hidden="true"></i>
                                            </span>
                                            <span>Thể Thao - Dã Ngoại</span>
                                        </a>
                                    </li>
                                <%} else { %>
                                    <li>
                                        <a href="/products?id=12&&count=6">
                                            <span style="margin-left:0px; margin-right: 2px;">
                                                <i class="fa fa-television" aria-hidden="true"></i>
                                            </span>
                                            <span>Thể Thao - Dã Ngoại</span>
                                        </a>
                                    </li>
                                <% } %>
                                <!----->
                                <% if (render.id == 13) { %>
                                    <li style="background: #fa5838;">
                                        <a href="/products?id=13&&count=6">
                                            <span style="margin-left:0px; margin-right: 2px;">
                                                <i class="fa fa-television" aria-hidden="true"></i>
                                            </span>
                                            <span>Xe Máy, Ô Tô, Xe Đạp</span>
                                        </a>
                                    </li>
                                <%} else { %>
                                    <li>
                                        <a href="/products?id=13&&count=6">
                                            <span style="margin-left:0px; margin-right: 2px;">
                                                <i class="fa fa-television" aria-hidden="true"></i>
                                            </span>
                                            <span>Xe Máy, Ô Tô, Xe Đạp</span>
                                        </a>
                                    </li>
                                <% } %>
                                <!----->
                                    
                                <% if (render.id == 14) { %>
                                    <li style="background: #fa5838;">
                                        <a href="/products?id=14&&count=6">
                                            <span style="margin-left:0px; margin-right: 2px;">
                                                <i class="fa fa-television" aria-hidden="true"></i>
                                            </span>
                                            <span>Hàng Quốc Tế</span>
                                        </a>
                                    </li>
                                <%} else { %>
                                    <li>
                                        <a href="/products?id=14&&count=6">
                                            <span style="margin-left:0px; margin-right: 2px;">
                                                <i class="fa fa-television" aria-hidden="true"></i>
                                            </span>
                                            <span>Hàng Quốc Tế</span>
                                        </a>
                                    </li>
                                <% } %>
                                <!----->
                                
                            </ul>
                        </div>
                        <!-- menu doc -->
                    </div>
                    
                    <div class="col-md-9">
                        <div class="list-item">
                        <!-- render products -->
                        <% render.products.forEach((item) => { %>
                            
                            <div class="card" style="width: 18rem;">
                                <a href="/detail?id=<%=item.MaSP%>">
                                    <% if (item.Anh == null) { %>
                                        <img class="card-img-top" src="/images/products/empty.png" alt="Card image cap">
                                    <%} else { %>
                                        <img class="card-img-top" src="<%=item.Anh%>" alt="Card image cap">
                                    <% } %>
                                    
                                    <div class="card-body">
                                        <p class="card-text"><%=item.TenSP%></p>
                                        
                                        <div class="evaluate">
                                            <% for (var i = 1; i <= (item.SoSaoTB + 0.5);  i++ ) { %>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            <% } %>
                                            
                                            <% for (var i = 1; i <= (5 - item.SoSaoTB + 0.5);  i++ ) { %>
                                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                            <% } %>
                                            
                                            <span class="amount">| <%=item.SoLuongTon%> sản phẩm</span>
                                        </div>
                                        
                                        <div class="price">
                                            <span class="reduced-price"><%=item.GiaBan%> đ</span>
                                            <span class="retail-price"><%=item.GiaBan - item.GiaGiam%> đ</span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            
                        <% }) %>
                        <!-- render products -->
                        </div> 
                    </div>
                </div>

                <!-- seen more -->
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-9">
                        <div id='seen-more' onclick="SeenMore()">
                            <span class="d-flex justify-content-center">
                                <a class="seen-more">Xem thêm</a>
                            </span>
                        </div>
                        
                    </div>
                </div>
                <!-- seen more -->

                <div id='page' style="display: none;"><%=render.id%></div>
                <div id='key' style="display: none;"><%=render.key%></div>
                
            </div>
            
        </div> <!--------- end content----------->
        <!--------- footer ----------->
        <%- include('../layout/footer.ejs'); %>
        
    </div><!--------- end container ----------->
    
    <!-- javascript -->
    <script src="/javascripts/layout/header-main/script.js"></script>
    <script src="/javascripts/products/script.js"></script>
    <script src="/javascripts/layout/footer/script.js"></script>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>